**Дашборд для Яндекс.Дзен**

**Описание данных**

Таблица dash_visits:

* record_id — номер записи;
* item_topic — тема карточки;
* source_topic — тема источника;
* age_segment — возрастная категория пользователя;
* dt - дата и время совершения события;
* visits - количество событий.

Создадим коннекцию к базе:

In [1]:
!pip install SQLAlchemy
!pip install --upgrade SQLAlchemy
!pip install psycopg2

Requirement already satisfied: SQLAlchemy in e:\anaconda\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in e:\anaconda\lib\site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: SQLAlchemy in e:\anaconda\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in e:\anaconda\lib\site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: psycopg2 in e:\anaconda\lib\site-packages (2.9.3)

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                         db_config['pwd'],
                                         db_config['host'],
                                         db_config['port'],
                                         db_config['db'])

engine = create_engine(connection_string)

In [3]:
# выполним запрос к базе данных и сохраним необходимую таблицу в переменную dash_visits
query = '''
    SELECT *
    FROM dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine)
dash_visits.to_csv('dash_visits.csv', index = False)
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [4]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

Данные целостные и с типами всё в порядке.

В таблице представлены данные о 30 745 записях об обращениях пользователей в конкретно указанное время в столбе dt к определенной теме и источнику по возрастным категориям за период с 18:32 до 19:00 24 сентября 2019 года.

In [6]:
dash_visits['visits'].sum()

310207

ссылка на презентацию: https://disk.yandex.ru/i/FZPrwXowfVt8cw

ссылка на дашборд: https://public.tableau.com/app/profile/rita6230/viz/AnalysisYandexDZEN/Dashboard1